<template>
    <h2>Edit task</h2>
    <form @submit.prevent="updateTaskAction(task)">
        <InputFormTasks :task="task" />
    </form>
</template>

<script>
import { mapState, mapActions } from "vuex";
import InputFormTasks from "../components/InputFormTasks.vue";

export default {
    components: { InputFormTasks },
    computed: {
        ...mapState(["task"]),
    },
    methods: {
        ...mapActions(["setSelectedTaskAction", "updateTaskAction"]),
    },
    created() {
        this.setSelectedTaskAction(this.$route.params.id);
    },
};
</script>
