<template>
    <h2>Create task form</h2>
    <form @submit.prevent="handleSubmitForm">
        <InputFormTasks :task="task" />
    </form>
    <hr />
    <TasksTable />
</template>

<script>
import { mapActions } from "vuex";
import shortid from "shortid";
import InputFormTasks from "../components/InputFormTasks";
import TasksTable from "../components/TasksTable";
import { defaultTask } from "../models/taskModel";

export default {
    name: "Home",
    components: {
        InputFormTasks,
        TasksTable,
    },
    data() {
        return {
            task: { ...defaultTask },
        };
    },
    methods: {
        ...mapActions(["setTaskAction", "fetchTasksAction"]),
        handleSubmitForm() {
            this.task.id = shortid.generate();
            this.setTaskAction(this.task);
            this.task = { ...defaultTask };
        },
    },
    created() {
        this.fetchTasksAction();
    },
};
</script>
