<template>
    <input
        type="text"
        class="form-control my-2"
        placeholder="Ingresa nombre"
        v-model.trim="task.name"
    />
    <div class="form-check form-check-inline">
        <input
            class="form-check-input"
            type="checkbox"
            id="check-1"
            v-model="task.categories"
            value="javascript"
        />
        <label class="form-check-label" for="check-1">Javascript</label>
    </div>
    <div class="form-check form-check-inline">
        <input
            class="form-check-input"
            type="checkbox"
            id="check-2"
            v-model="task.categories"
            value="nodejs"
        />
        <label class="form-check-label" for="check-2">Nodejs</label>
    </div>
    <div class="mt-2">
        <div class="form-check form-check-inline">
            <input
                class="form-check-input"
                type="radio"
                id="radio-1"
                value="urgente"
                v-model="task.state"
            />
            <label class="form-check-label" for="radio-1">Urgente</label>
        </div>
        <div class="form-check form-check-inline">
            <input
                class="form-check-input"
                type="radio"
                id="radio-2"
                value="relax"
                v-model="task.state"
            />
            <label class="form-check-label" for="radio-2">Relax</label>
        </div>
    </div>
    <div class="mt-2">
        <input
            type="number"
            class="form-control"
            v-model.number="task.number"
        />
    </div>
    <div class="button-holder">
        <button
            class="btn btn-dark form-control mt-2"
            type="submit"
            :disabled="isButtonDisabled"
        >
            Submit
        </button>
    </div>
</template>

<script>
export default {
    name: "InputFormTask",
    props: {
        task: Object,
    },
    computed: {
        isButtonDisabled() {
            return this.task.name.trim() === "";
        },
    },
};
</script>

<style>
</style>