<template>
    <h1>Inicio de sesión</h1>
    <div class="alert alert-danger" v-if="error">
        {{ error.message }}
    </div>
    <form @submit.prevent="loginUser">
        <input
            class="form-control my-2"
            v-model.trim="email"
            type="email"
            placeholder="Email"
            :class="error?.type === 'email' && 'is-invalid'"
        />
        <input
            class="form-control my-2"
            v-model.trim="password"
            type="password"
            placeholder="Password"
            :class="error?.type === 'password' && 'is-invalid'"
        />
        <button class="btn btn-primary" type="submit" :disabled="!isValidData">
            Login
        </button>
    </form>
</template>
<script>
import router from "../router";
import { mapActions, mapState } from "vuex";

export default {
    data() {
        return {
            email: "",
            password: "",
        };
    },
    methods: {
        ...mapActions(["loginUserAction"]),
        clearValues() {
            this.email = "";
            this.password = "";
        },
        async loginUser() {
            await this.loginUserAction({
                email: this.email,
                password: this.password,
            });
            if (!this.error) {
                this.clearValues();
                router.push("/");
            }
        },
    },
    computed: {
        ...mapState(["error"]),
        isValidData() {
            return this.email.includes("@") && this.password.length > 5;
        },
    },
};
</script>

<style>
</style>