<template>
    <div class="navbar navbar-dark bg-dark">
        <router-link to="/" class="navbar-brand"> Formularios </router-link>
        <div class="d-flex">
            <router-link v-if="isUserAuthenticated" class="btn btn-dark" to="/">
                Tareas
            </router-link>
            <router-link
                v-if="!isUserAuthenticated"
                class="btn btn-dark"
                to="/login"
            >
                Login
            </router-link>
            <router-link
                v-if="!isUserAuthenticated"
                class="btn btn-dark"
                to="/register"
            >
                Registro
            </router-link>

            <button
                v-if="isUserAuthenticated"
                @click="logout"
                class="btn btn-dark"
            >
                Cerrar Sesión
            </button>
        </div>
    </div>
</template>

<script>
import router from "../router";
import { mapActions, mapGetters } from "vuex";

export default {
    name: "Navbar",
    methods: {
        ...mapActions(["logoutAction"]),
        logout() {
            this.logoutAction().then(() => router.push("/login"));
        },
    },
    computed: {
        ...mapGetters(["isUserAuthenticated"]),
    },
};
</script>
