<template>
    <h1>Registro de usuario</h1>
    <div class="alert alert-danger" v-if="error">
        {{ error.message }}
    </div>
    <form @submit.prevent="registerUser">
        <input
            class="form-control my-2"
            v-model.trim="email"
            type="email"
            placeholder="Email"
            :class="error?.type === 'email' && 'is-invalid'"
        />
        <input
            class="form-control my-2"
            v-model.trim="password"
            type="password"
            placeholder="Password"
        />
        <input
            class="form-control my-2"
            v-model.trim="repeatedPassword"
            type="password"
            placeholder="Repeat password"
        />
        <button class="btn btn-primary" type="submit" :disabled="!isValidData">
            Registrar
        </button>
    </form>
</template>

<script>
import router from "../router";
import { mapActions, mapState } from "vuex";

export default {
    data() {
        return {
            email: "",
            password: "",
            repeatedPassword: "",
        };
    },
    computed: {
        ...mapState(["error"]),
        isValidData() {
            return (
                this.email.includes("@") &&
                this.password.length > 5 &&
                this.password === this.repeatedPassword
            );
        },
    },
    methods: {
        ...mapActions(["registerUserAction"]),
        clearValues() {
            this.email = "";
            this.password = "";
            this.repeatedPassword = "";
        },
        async registerUser() {
            await this.registerUserAction({
                email: this.email,
                password: this.password,
            });
            if (!this.error) {
                this.clearValues();
                router.push("/");
            }
        },
    },
};
</script>

<style>
</style>