<template>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Categories</th>
                <th scope="col">State</th>
                <th scope="col">Number</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="task in tasks" :key="task.id">
                <th scope="row">{{ task.id }}</th>
                <td>{{ task.name }}</td>
                <td>{{ task.categories?.join(", ") }}</td>
                <td>{{ task.state }}</td>
                <td>{{ task.number }}</td>
                <td>
                    <button
                        class="btn btn-danger btn-sm"
                        @click="deleteTaskAction(task.id)"
                    >
                        Delete
                    </button>
                    <router-link
                        class="btn btn-warning margin-left-2 btn-sm"
                        :to="{
                            name: 'Edit',
                            params: {
                                id: task.id,
                            },
                        }"
                    >
                        Edit
                    </router-link>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
    name: "TasksTable",
    created() {
        this.fetchTasksAction();
    },
    computed: {
        ...mapState(["tasks"]),
    },
    methods: {
        ...mapActions(["deleteTaskAction", "fetchTasksAction"]),
    },
};
</script>